/* styles.css */
p {color: black;
    font-size: 16px;
    font-family: 'Playfair Display', serif;}
    
h1 {color: #ff168b;
    font-size: 36px;
    font-family: 'Croissant One';
    letter-spacing: -2px;}

h2 {color:#ff168b;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;}

ul {color:(black);
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;}

h3 {color:#ff168b;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;}

    
Button {background-color: #cacaca; 
    color: #000000;
    padding: 14px 24px;
    border: none;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
    width: 100%}

#contactButton:hover {background-color: rgb(255, 22, 139);
    color: rgb(255, 255, 255);
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)}