/* styles.css */
p {color: black;
    font-size: 16px;
    font-family: 'Playfair Display', serif;}
    
h1 {color: rgb(255, 22, 139);
    font-size: 36px;
    font-family: 'Croissant One';
    letter-spacing: -2px;}

h2 {color:rgb(255, 22, 139);
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;}

ul {color:(black);
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;}

h3 {color:rgb(255, 22, 139);
    font-size: 20;
    font-family: Georgia, 'Times New Roman', Times, serif;}

    
Button {
        background-color: #b9b9b9; /* Default button color */
        color: #020202;
        padding: 10px 20px;
        border: none;
        cursor: pointer;}

    /* Change the button color on hover */
    #contactButton:hover {
        background-color: rgb(255, 22, 139); 
    }